/*Elements*/
h3,h4,h5{
    text-align: center;
    color: #ffd92d;
    margin-top: 35px;
    font-family: emoji;
  }

  body{
    background-color: #03070A;
    margin: 0;
  }

/* Navbar style */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

 .menudrop{
    font-size: 56px;
    color: #ffd92d;
    cursor:pointer;
    font: 56px;
 }

 .nav-link {
    text-decoration: none;
  }
  
  .nav-link.active {
    text-decoration: underline;
    text-decoration-color: #ffd92d;
    text-underline-offset: 7px;
  }

  .img{
    width: 630px;
  }

  .logo-img {
    width: 622px;
    height: auto;
    margin-top: -100px;
  }

  .logocontain{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    position: relative;
    z-index: 1;
  }

  .round {
    position: relative;
    overflow: hidden;
    height: 70vh;
  }
  
  .carousel-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .carousel-item {
    height: 100vh; /* Adjust the height as needed */
  }
  .carousel-item img {
    object-fit: scale-down;
    width: 100%;
    height: 100%;
  }
  