/*Elements*/
h3,h4,h5{
    text-align: center;
    color: #ffd92d;
    margin-top: 35px;
    font-family: emoji;
  }

  body{
    background-color: #03070A;
    margin: 0;
  }

/* Navbar style */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

 .menudrop{
    font-size: 56px;
    color: #ffd92d;
    cursor:pointer;
    font: 56px;
 }

 .nav-link {
    text-decoration: none;
  }
  
  .nav-link.active {
    text-decoration: underline;
    text-decoration-color: #ffd92d;
    text-underline-offset: 7px;
  }

  .img{
    width: 630px;
  }

  .logo-img, .buttonset {
    width: auto;
    height: 623px;
    margin-top: -100px;
    object-fit: cover;
  }

  .logocontain, .bookcontain{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    position: relative;
    z-index: 1;
  }

  .buttonset{
    
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 25px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #ffd92d;
    background-color: #616467;
    box-shadow: inset 0 0 0 2px #616467;
    background-color: #03070A;
    height: 71px;
    width: 40vh;
  }
  .buttonset:hover{
    color: #616467;
    background-color: #ffd92d;
}

  .round {
    position: relative;
    overflow: hidden;
    height: 47vh;
  }
  
  .carousel-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .carousel-item {
    height: 100vh; /* Adjust the height as needed */
  }
  .carousel-item img {
    object-fit: scale-down;
    width: 100%;
    height: 100%;
  }
  
  